# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# dotenv environment variables file
.env

# Build files
build/
dist/

# Coverage directory used by tools like istanbul
coverage/

# Dependency directories
jspm_packages/
typings/

# IDE specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
